/* =Content
----------------------------------------------- */
#main {
  @include outer-container;
}
#primary {
  @include fill-parent;
  padding-top: em(60);
}
#content {
  @include outer-container;
  max-width: 50em;
  border-bottom: 1px solid $gray;
  p.half {
    @include span-columns(6);
    @include pad();
    margin-right: 0;
  }
}
.sticky {
  border: 1px solid $gray;
  border-left: 5px solid $primary-brand-color;
  border-radius: 4px;
  padding: em(20);
  @media (max-width: 600px) {
    margin: em(10);
  }
}
.hentry {
  margin: em(80) 0 1.5em;
  padding: em(20);
  background: $white;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: none;
  }
}
.entry-header {
  .wp-post-image {
    display: inline-block;
    margin: 0 em(10) 0 0;
    width: em(100);
    border-radius: 50%;
    float: left;
  }
  .entry-title {
    display: inline-block;
    margin-top: 10px;
  }
  .meta span {
    margin-right: em(10);
    @include meta-text;
  }
}
.entry-content {
  margin-top: em(40);
}
.byline,
.updated {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.entry-meta {
  border-top: 1px solid $light-gray;
  padding-top: em(20);
  .comments-link {
    float: right;
  }
}
.tag .page-title {
  display: inline;
  border-left: 5px solid $primary-brand-color;
}
#nav-below {
  .nav-previous, .nav-next {
    padding: em(10) 0 em(10) 0;
  }
  .nav-previous a, .nav-next a {
    border-right: none;
    @include button;
  }
}
