/* =Content
----------------------------------------------- */
#main {
  @include outer-container;
}
#primary {
  @include fill-parent;
  padding-top: em(60);
}
#content {
  @include outer-container;
  border-bottom: 1px solid $gray;
  p.half {
    @include span-columns(6);
    @include pad();
    margin-right: 0;
  }
}


.sticky {
  border: 1px solid $gray;
  border-left: 5px solid $primary-brand-color;
  border-radius: 4px;
  padding: em(20);

}
.hentry {
  margin: em(80) 0 1.5em;
  padding-bottom: em(30);
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: none;
  }
}
.byline,
.updated {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.entry-meta {
  .comments-link {
    float: right;
  }
}
.tag .page-title {
  display: inline;
  border-left: 5px solid $primary-brand-color;
}