.site-branding {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: em(80);
  a:hover {
    border: none;
  }
}
.site-title {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5em;
}
.site-description {
  display: block;
  margin: 0 auto;
  text-align: center;
}