#masthead {

}
.site-branding {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: em(80);
}
.site-title {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.site-description {
  display: block;
  margin: 0 auto;
  text-align: center;
}