/* =Menu
----------------------------------------------- */
.nav-title {
  background: $dark-gray;
  height: em(80);
  h2 {
    color: $white;
    display: block;
    text-align: center;
  }
  a {
    display: inline;
    float: right;
    text-decoration: none;
    color: $white;
    @include menu-text;
    margin-right: em(20);
  }
}
.menu-toggle {
  text-decoration: none;
  position: relative;
  top: em(20);
  left: em(40);
}
.menu {
  list-style-type: none;
  margin: 0;
  li {
    width: 100%;
    padding: em(5) 0 0 em(20);
    &:hover {
      background: $primary-brand-color;
    }
  }
  a {
    text-decoration: none;
    @include menu-text;
    color: $white;
  }
  .sub-menu {
    list-style-type: none;
  }
}