/* =Menu
----------------------------------------------- */
nav {
  margin-top: em(5);
  a {
    padding-right: em(10);
    text-decoration: none;
  }
  i {
    font-size: em(20);
  }
  .close:hover {
    border-bottom: none;
  }
}
nav.primary {
  a {
    color: $white;
    position: fixed;
    margin-top: -10px;
    background: $primary-brand-color;
    padding: em(10) em(30);
    border-bottom: none;
    &:hover {
      color: $dark-gray;
      @include transition(all 0.5s)
    }
  }
}
.nav-title {
  background: $black;
  h2 {
    text-align: center;
    color: $white;
    padding-bottom: 1em;
  }
  a {
    float: right;
    padding: em(10) em(15) 0 0;
    color: $white;
    text-decoration: none;
    @include menu-text;
    font-size: em(12);
    &:hover {
      color: $primary-brand-color;
      border-bottom: none;
    }
  }
}
.menu {
  list-style: none;
  margin: 0;
  padding: em(20);
  li {
    position: relative;
    padding-bottom: em(10);
    @include menu-text;
    &:hover > a {
      color: $primary-brand-color;
      border-bottom: none;
    }
    &:hover ul {
      display: block;
    }
    ul {
      position: relative;
      top: 0;
      display: none;
      margin: 0 em(5) 0 em(5);
      padding: em(10);
      background: lighten($dark-gray, 10%);
      @include transition (all 2.0s ease-in-out);
      li {
        list-style-type: none;
      }
    }
    ul ul {
      position: relative;
      top: 0;
      display: none;
    }
  }
  a {
    display: block;
    text-decoration: none;
    @include transition (all 0.5s);
    @include menu-text;
    i {
      padding-left: em(10);
      color: $primary-brand-color;
    }
  }
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
  display: block;
}
.menu li.current_page_item a,
.menu li.current-menu-item a {
  color: $black;
}



