/* Pulling in Google Fonts for Droid and Montserrat 
--------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);

/* Typography Mixins
--------------------------------------------------------------*/

@mixin headline {
  font: {
    family: 'Montserrat';
  }
  color: $black;
}
@mixin header-text {
  font: {
    family: 'Montserrat';
    size: em(50);
  }
}
@mixin large-text {
  font: {
    family: 'Montserrat';
    size: em(50);
  }
  color: $black;
}

@mixin copy-text {
  font: {
    family: 'Droid Serif';
    size: em(18);
  }
}

@mixin meta-text {
  font: {
    family: 'Montserrat';
    size: em(14);
  }
  color: $dark-gray;
}

@mixin menu-text {
  font: {
    family: 'Montserrat';
    size: em(17);
  }
  color: $white;
}
@mixin wrap {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/* Base Font Styles 
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  @include headline;
}
h1 {
  font-size: em(30);
}
h2 {
  font-size: em(24);
}
h3 {
  font-size: em(20);
}
h4 {
  font-size: em(18);
}
h5 {
  font-size: em(16);
}
h6 {
  font-size: em(14);
}
p {
  @include copy-text;
}
a {
  text-decoration: none;
  color: $primary-brand-color;
  &:hover {
    color: $primary-brand-color;
    border-bottom: 3px solid $primary-brand-color;
    @include transition( all 0.2s);
  }
  &:visited {
    color: $primary-brand-color;
  }
}
img:hover {
  border-bottom: none;
}
.site-title {
  text-transform: uppercase;
  text-decoration: none;
  a {
    text-decoration: none;
    @include header-text;
    @include media($mobile) {
        font-size: em(20);
      }
    &:hover {
      border-bottom: none;
    }
    &:visited {
      color: $black;
    }
  }
}
.site-description {
  @include copy-text;
  font-size: em(20);
  color: $dark-gray;
  font-style: italic;
}
.entry-title {
  text-transform: uppercase;
  text-decoration: none;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  @include headline;
  a {
    @include headline;
    text-decoration: none;
    color: $black;
    &:visited {
      color: $black;
    }
    &:hover {
      color: $dark-gray;
    }
  }
}
.entry-content p {
  line-height: 2;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.entry-meta p, .entry-meta a, .entry-meta span {
  @include meta-text;
}
blockquote, {
  @include meta-text;
  font-style: italic;
  margin-bottom: em(30);
  padding: em(30) em(30) em(10) em(30);
  line-height: 1.45;
  position: relative;
  color: #FFF;
  border-left:5px solid $black;
  background: $primary-brand-color;
  text-align: center;
  p {
    @include meta-text;
    font-size: em(18);
    color: $black;
  }
}

blockquote cite {
  color: $dark-gray;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}
table {
  padding: em(10);
  thead {
    background-color: $dark-gray;
    th {
      padding: em(5);
    }
  }
  td {
    border-bottom: 1px solid $dark-gray;
    border-left: 1px solid $dark-gray;
    padding: em(10);
    &:last-child {
      border-right: 1px solid $dark-gray;
    }
  }
}

dl, dt, dd {
  @include copy-text;
} 
dd {
  font-style: italic;
}
ol ol li, ul ul li {
  font-size: 1em;
}
li, li span {
  @include copy-text;
}
address {
  font-style: italic;
}
code, kbd, tt, var {
  background-color: $light-gray;
  padding: em(5);
}

// Social 
a.icon-twitter, 
a.icon-facebook, 
a.icon-google-plus-sign, 
a.icon-instagram, 
a.icon-github, 
a.icon-youtube-play, 
a.icon-linkedin-sign, 
a.icon-pinterest-sign {
  color: $black;
  &:visited {
    color: $black;
  }
}
a.icon-twitter:hover {
  color: $twitter-color;
  border-bottom: none;
}
a.icon-facebook:hover {
  color: $facebook-color;
  border-bottom: none;
}
a.icon-google-plus-sign:hover {
  color: $googleplus-color;
  border-bottom: none;
}
a.icon-instagram:hover {
  color: $instagram-color;
  border-bottom: none;
}
a.icon-github:hover {
  color: $github-color;
  border-bottom: none;
}
a.icon-youtube-play:hover {
  color: $youtube-color;
  border-bottom: none;
}
a.icon-linkedin-sign:hover {
  color: $linkedin-color;
  border-bottom: none;
}
a.icon-pinterest-sign:hover {
  color: $pinterest-color;
  border-bottom: none;
}