$black: #000;
$white: #fff;
$light-gray: #eee;
$gray: #ccc;
$dark-gray: #7B8A90;
$primary-brand-color: #D9B54B;
$secondary-brand-color: #79B250;

// Social Brand Colors

$twitter-color: #00acee;
$facebook-color: #3b5998;
$googleplus-color: #dd4b39;
$instagram-color: #3f729b;
$github-color: #171515;
$youtube-color: #c4302b;
$pinterest-color: #c8232c;
$linkedin-color: #0e76a8;


/* =Grid
----------------------------------------------- */
$total-columns: 10;
$max-width: em(960); // Max-width of the outer container

