/* =Widgets
----------------------------------------------- */
.home_widgets {
  @include span-columns(12);
  margin-left: em(30);

}
.home_widget {
  @include span-columns(4);
  @include omega(4n);
  padding: em(30);
}
#secondary {
  @include span-columns(12);
}
.widget {
  @include span-columns(4);
  @include omega(4n);
  padding: em(30);
  @include wrap;
}

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
  display: none;
}