/* =Widgets
----------------------------------------------- */
.home_widgets {
  @include span-columns(12);
}
.home_widget {
  @include span-columns(4);
  @include omega(3n);
  padding: em(10);
  h1 {
    font-size: 1.5em;
  }
  ul {
    list-style: none;
    margin-left: 0;
    li {
      border-bottom: 1px solid $light-gray;
    }
  }
  @include media($mobile) { // As defined in _grid-settings.scss
      width: 100%;
      margin: em(10);
    }
}

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}

/* Search widget */

.home_widget .search-submit {
  display: none;
}